<files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</files>



# Redireciona de http para https
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]
</IfModule>

# Redireciona domínio com o www para endereço sem o www
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.engleonardomoreira.website [NC]
RewriteRule ^(.*)$ https://engleonardomoreira.website/$1 [L,R=301]
</IfModule>



DirectoryIndex index.php index.html index.htm index2.html

ErrorDocument 403 https://infinityfree.net/errors/403/
ErrorDocument 404 https://engleonardomoreira.website/404.html
ErrorDocument 500 https://infinityfree.net/errors/500/
