.carrossel {
    background-image: url(../../img/projeto-carrossel/vecteezy_buildings-silhouette-cityscape-background-modern-architecture-urban-city-landscape_602518/pikb28.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}