.rodape__redes-socias___link____icone-1--color {
    display: none;
}

.rodape__redes-socias___link____icone-2--color {
    display: none;
}

.rodape__redes-socias___link____icone-3--color {
    display: none;
}